body{
    background-image:linear-gradient(black,grey);
    background-repeat: no-repeat;
    background-size:contain;
    height:100vh;
}
.container{
    width:36vw;
    padding:33px;
    text-align:center;
    background-color: grey;
    margin-left:33%;
    margin-top:5px;
}
input{
    width:36vw;
    padding:8px;
    border:2px solid black;
    outline:none
}
button{
    width:60px;
    height:41px;
    background-color: black;
    color:white;
    border:none;
    outline:none;                              
    border-radius:2px;
}
.text p{
    background-color: rgb(83, 83, 83);
    padding:10px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}